@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* #6e93f7 */
:root {
  --primary: #6e93f7;
  --bgColor: #e3f2fd;
  --hoverEffect: #e7edfe;
  --checked: #4070f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bgColor);
}
.container {
  position: relative;
  max-width: 320px;
  width: 100%;
  border-radius: 8px;
  margin: 80px auto 30px;
}
.select-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.select-btn .arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  border-radius: 5px;
  background: var(--primary);
  align-items: center;
  justify-content: center;
  /* transition: 0.3s; */
}
.select-btn.open .arrow-dwn {
  transform: rotate(180deg);
}

.list-items {
  position: relative;
  margin-top: 15px;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-btn.open ~ .list-items {
  display: block;
}
.list-items .item {
  list-style: none;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover {
  background-color: var(--hoverEffect);
}
.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.checkbox .fa-check {
  font-size: 11px;
  color: #fff;
  transform: scale(0);
  /* transition: all 0.3s ease-in-out; */
}
.item .item-text {
  font-size: 16px;
  font-weight: 400;
}
.item.checked .fa-check {
  transform: scale(1);
}
.item.checked .checkbox {
  background-color: var(--checked);
}
